%flexwrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

%flexwrapcol{
    @extend %flexwrap;
    flex-direction: column;
}
%flexwraprow{
    @extend %flexwrap;
    flex-direction: row;
}

/* tabs info posts / albums / todos */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
  text-align: center;

    body {

        height: 100vh;
        color: #555;
        background: #eee;
        font: 14px/1 'Open Sans', sans-serif;

        .allContents{

            h1 {
                padding: 10px 0;
                font-weight: 400;
                text-align: center;
            }

            p {
                margin: 0 0 20px;
                line-height: 1.5;
            }

            main {
                min-width: 320px;
                max-width: 800px;
                padding: 50px;
                margin: 0 auto;
                background: #fff;
            
                /* tabs info posts / albums / todos */
                .tabs{

                    padding-top: 30px;

                    section {
                        display: none;
                        padding: 20px 0 0;
                        border-top: 1px solid #ddd;
                    }

                    input {
                        display: none;
                    }

                    label {
                        display: inline-block;
                        margin: 0 0 -1px;
                        padding: 15px 25px;
                        font-weight: 600;
                        text-align: center;
                        color: #bbb;
                        border: 1px solid transparent;
                    }

                    label:before {
                        font-family: fontawesome;
                        font-weight: normal;
                        margin-right: 10px;
                    }

                    label[for*='posts']:before { content: '\f231'; }
                    label[for*='albums']:before { content: '\f030'; }
                    label[for*='todos']:before { content: '\f0ca'; }

                    label:hover {
                    color: #888;
                    cursor: pointer;
                    }

                    input:checked + label {
                    color: #555;
                    border: 1px solid #ddd;
                    border-top: 2px solid orange;
                    border-bottom: 1px solid #fff;
                    }

                    #posts:checked ~ #contentPosts,
                    #albums:checked ~ #contentAlbums,
                    #todos:checked ~ #contentTodos {
                    display: block;
                    }
                
                } // end tabs

                .usersContent{

                    @extend %flexwraprow;

                    height: auto;
                    width: auto;
                    background-color: lightsalmon;

                    h1, p, img{
                        margin: 0px;
                        padding-top: 10px;
                    }

                    h1{
                       padding-top: 20px;
                       padding-bottom: 0px; 
                    }

                    .card{

                        height: 200px;
                        width: 30%;
                        padding: 12px;

                        section{
                            @extend %flexwrapcol;
                            margin-top: 12px;
                        }
                        
                        img{
                            height: 75px;
                            width: 30%;
                            margin: 0px auto;
                        }

                        .btns{

                            padding-top: 15px;

                            button{
                                height: 30px;
                                width: 30px;
                                border-radius: 12px;
                                margin: 0px 8px;
                                border: 0px;
                            }

                        }
                    }

                } //end .usersContent

            } // end <main>
        
        } // end .allContents

    } // end <body>

} //end <html>

@media screen and (max-width: 650px) {

    /* tabs info posts / albums / todos */
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
    /* END tabs info posts / albums / todos */
}

@media screen and (max-width: 400px) {
    /* tabs info posts / albums / todos */
    label {
        padding: 15px;
    }
    /* END tabs info posts / albums / todos */
}