@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html body .allContents main .usersContent .card section, html body .allContents main .usersContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

html body .allContents main .usersContent .card section {
  flex-direction: column; }

html body .allContents main .usersContent {
  flex-direction: row; }

/* tabs info posts / albums / todos */
html {
  text-align: center; }
  html body {
    height: 100vh;
    color: #555;
    background: #eee;
    font: 14px/1 'Open Sans', sans-serif; }
    html body .allContents h1 {
      padding: 10px 0;
      font-weight: 400;
      text-align: center; }
    html body .allContents p {
      margin: 0 0 20px;
      line-height: 1.5; }
    html body .allContents main {
      min-width: 200px;
      max-width: 800px;
      padding: 25px 25px 10px 25px;
      margin: 0 auto;
      background: #fff;
      /* tabs info posts / albums / todos */ }
      html body .allContents main .tabs {
        padding-top: 30px; }
        html body .allContents main .tabs section {
          display: none;
          padding: 20px 0 0;
          border-top: 1px solid #ddd; }
        html body .allContents main .tabs input {
          display: none; }
        html body .allContents main .tabs label {
          display: inline-block;
          margin: 0 0 -1px;
          padding: 15px 25px;
          font-weight: 600;
          text-align: center;
          color: #bbb;
          border: 1px solid transparent; }
        html body .allContents main .tabs label:before {
          font-family: fontawesome;
          font-weight: normal;
          margin-right: 10px; }
        html body .allContents main .tabs label[for*='posts']:before {
          content: '\f231'; }
        html body .allContents main .tabs label[for*='albums']:before {
          content: '\f030'; }
        html body .allContents main .tabs label[for*='todos']:before {
          content: '\f0ca'; }
        html body .allContents main .tabs label:hover {
          color: #888;
          cursor: pointer; }
        html body .allContents main .tabs input:checked + label {
          color: #555;
          border: 1px solid #ddd;
          border-top: 2px solid orange;
          border-bottom: 1px solid #fff; }
        html body .allContents main .tabs #posts:checked ~ #contentPosts,
        html body .allContents main .tabs #albums:checked ~ #contentAlbums,
        html body .allContents main .tabs #todos:checked ~ #contentTodos {
          display: block; }
      html body .allContents main .usersContent {
        height: auto;
        width: auto; }
        html body .allContents main .usersContent h1, html body .allContents main .usersContent p, html body .allContents main .usersContent img {
          margin: 0px;
          padding-top: 10px; }
        html body .allContents main .usersContent h1 {
          padding-top: 20px;
          padding-bottom: 0px; }
        html body .allContents main .usersContent .card {
          height: 200px;
          width: 30%;
          padding: 0px;
          margin: 20px 10px;
          background-color: lightcyan; }
          html body .allContents main .usersContent .card section {
            margin-top: 12px; }
          html body .allContents main .usersContent .card img {
            height: 75px;
            width: 30%;
            margin: 0px auto;
            border-radius: 40px; }
          html body .allContents main .usersContent .card .btns {
            padding-top: 15px; }
            html body .allContents main .usersContent .card .btns label:before {
              font-family: fontawesome;
              font-weight: normal;
              margin-right: 10px; }
            html body .allContents main .usersContent .card .btns label[for*='view']:before {
              content: '\f2bb'; }
            html body .allContents main .usersContent .card .btns label[for*='modify']:before {
              content: '\f085'; }
            html body .allContents main .usersContent .card .btns label[for*='delete']:before {
              content: '\f1f8'; }
            html body .allContents main .usersContent .card .btns button {
              text-align: center;
              font-size: 25px;
              height: 30px;
              width: 30px;
              border-radius: 12px;
              margin: 0px 8px;
              border: 0px;
              padding: 0px;
              background-color: lightcyan; }
    html body .allContents footer {
      padding: 25px 0px; }
      html body .allContents footer p {
        margin-bottom: 0px; }

@media screen and (max-width: 650px) {
  html body .allContents main .usersContent .card {
    height: 175px;
    width: 35%; }
    html body .allContents main .usersContent .card section {
      margin-top: 25px; }
      html body .allContents main .usersContent .card section img {
        height: 60px;
        width: 60px; }
      html body .allContents main .usersContent .card section p {
        display: none; }
    html body .allContents main .usersContent .card .btns button {
      height: 20px;
      width: 20px;
      border-radius: 10px;
      font-size: 15px; }
  /* tabs info posts / albums / todos */
  label {
    font-size: 0; }
  label:before {
    margin: 0;
    font-size: 18px; }
  /* END tabs info posts / albums / todos */ }

@media screen and (max-width: 400px) {
  html body .allContents main .usersContent .card {
    font-size: 12px; }
    html body .allContents main .usersContent .card button {
      font-size: 10px; }
  /* tabs info posts / albums / todos */
  label {
    padding: 15px; }
  /* END tabs info posts / albums / todos */ }
