/* tabs info posts / albums / todos */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  text-align: center; }
  html body {
    height: 100vh;
    color: #555;
    background: #eee;
    font: 14px/1 'Open Sans', sans-serif; }
    html body .allContents h1 {
      padding: 10px 0;
      font-weight: 400;
      text-align: center; }
    html body .allContents p {
      margin: 0 0 20px;
      line-height: 1.5; }
    html body .allContents main {
      min-width: 320px;
      max-width: 800px;
      padding: 50px;
      margin: 0 auto;
      background: #fff;
      /* tabs info posts / albums / todos */ }
      html body .allContents main .tabs section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #ddd; }
      html body .allContents main .tabs input {
        display: none; }
      html body .allContents main .tabs label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent; }
      html body .allContents main .tabs label:before {
        font-family: fontawesome;
        font-weight: normal;
        margin-right: 10px; }
      html body .allContents main .tabs label[for*='posts']:before {
        content: '\f231'; }
      html body .allContents main .tabs label[for*='albums']:before {
        content: '\f030'; }
      html body .allContents main .tabs label[for*='todos']:before {
        content: '\f0ca'; }
      html body .allContents main .tabs label:hover {
        color: #888;
        cursor: pointer; }
      html body .allContents main .tabs input:checked + label {
        color: #555;
        border: 1px solid #ddd;
        border-top: 2px solid orange;
        border-bottom: 1px solid #fff; }
      html body .allContents main .tabs #posts:checked ~ #contentPosts,
      html body .allContents main .tabs #albums:checked ~ #contentAlbums,
      html body .allContents main .tabs #todos:checked ~ #contentTodos {
        display: block; }
      html body .allContents main .usersContent .card {
        background-color: lightblue;
        height: 400px;
        width: 20%;
        color: #666; }

@media screen and (max-width: 650px) {
  /* tabs info posts / albums / todos */
  label {
    font-size: 0; }
  label:before {
    margin: 0;
    font-size: 18px; }
  /* END tabs info posts / albums / todos */ }

@media screen and (max-width: 400px) {
  /* tabs info posts / albums / todos */
  label {
    padding: 15px; }
  /* END tabs info posts / albums / todos */ }
